#listaRegistros{display: none;}
#cadastroRegistros{display: none;}

body[page=lista] #listaRegistros{display: block;}
body[page=cadastro] #cadastroRegistros{display: block;}

body{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table{
    width: 100%;
    border-collapse: collapse;
}
table th,
table td{
    font-size: 14px;
    padding: 10px 15px;
    border: solid 1px  #ccc
}

button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: green;
    margin: 3px;
    padding: 10px 15px ;
}
button.cancelar{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: red;
    margin: 3px;
    padding: 10px 15px ;
}
button:hover{
    opacity: 0.8;

}
button.del{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: red;
    margin: 3px;
    padding: 10px 15px ;
}
button.edit{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(255, 208, 0);
    margin: 3px;
    padding: 10px 15px ;

}

input{
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
}

.label1>div{
    display: flex;

}